body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  font-weight: 300;
}

:focus {
  outline: 0;
}

button {
  padding: 0;
  border: 0;
  background: none;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  appearance: none;
  -webkit-font-smoothing: antialiased;
}

button,
input[type="checkbox"] {
  outline: none;
}

.todo-app {
  background: #fff;
  margin: 150px auto;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  width: 600px;
}

.todo-app input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todo-app input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todo-app input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todo-header h1 {
  position: absolute;
  top: -80px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

.new-todo {
  font-size: 30px;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.new-todo,
.edit-input {
  position: relative;
  margin: 0;
  width: 100%;
  line-height: 1.4em;
  border: 0;
  color: inherit;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.edit-input {
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 28px;
  padding: 6px;
}

.todo-main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

label[for="check-all"] {
  display: none;
}

.check-all {
  position: absolute;
  top: -60px;
  left: -12px;
  width: 60px;
  height: 34px;
  text-align: center;
  /* border: none; Mobile Safari */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-appearance: none;
  appearance: none;
}

.check-all:before {
  content: "❯";
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

.check-all:checked:before {
  color: #737373;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-item {
  position: relative;
  font-size: 28px;
  border-bottom: 1px solid #ededed;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item .edit-input {
  display: block;
  width: 550px;
  padding: 12px 16px;
  margin: 0 0 0 50px;
}

.todo-input-status {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

.todo-input-status {
  opacity: 0;
}

.todo-input-status + .todo-para {
  background-image: url(../assets/images/un-checked.svg);
  background-repeat: no-repeat;
  background-position: center left;
}

.todo-input-status:checked + .todo-para {
  background-image: url(../assets/images/click-checked.svg);
}

.todo-item .todo-para {
  word-break: break-all;
  padding: 25px 15px 25px 60px;
  line-height: 1.2rem;
  transition: color 0.4s;
}

.todo-item:hover .btn-delete {
  display: block;
}

.edit-input {
  display: none;
}

.completed {
  text-decoration: line-through;
  color: #d9d9d9;
}

.todo-input-status {
  height: 1rem;
  width: 2rem;
  margin-left: 0rem;
}

.todo-item .btn-delete {
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

.todo-item .btn-delete:hover {
  color: #af5b5e;
}

.todo-item .btn-delete:after {
  content: "×";
}

.todo-list li:hover .btn-delete {
  display: block;
}

.footer {
  display: none;
  color: #777;
  /* display: flex; */
  align-items: center;
  padding: 15px 15px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.count-todo {
  font-size: 18px;
}

.filters-todo {
  flex: 1;
}

.filters-todo a,
.clear-completed {
  color: inherit;
  font-size: 18px;
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
}

.filters-todo a:hover,
.filters-todo a.selected {
  border-color: rgba(175, 47, 47, 0.1);
}

.clear-completed {
  display: none;
}

.clear-completed:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.clear-completed:hover {
  text-decoration: underline;
}
